<h1> Hello Admin </h1>

Ron95 
<%= @fuel_weekly_max_cap.max_ron_95_price %>

Ron97
<%= @fuel_weekly_max_cap.max_ron_97_price %>

Diesel
<%= @fuel_weekly_max_cap.max_diesel_price %>

<%= link_to 'Edit max cap', edit_fuel_weekly_max_cap_path(@fuel_weekly_max_cap) %>