<footer class="bd-footer text-muted">
  <div class="container">
    <p>This is a community website, please share the price responsibility.</p>
    <p>Copyright © Ron95.my 2017</p>
  </div>
</footer>

